._.DS_Store
.DS_Store
.ipynb_checkpoints
2D_traindata
3D_traindata
BPdata
models_dd2voz
models_z
models_SHAP
models_3D
model_TST
__pycache__
2D_traindata_with_hand_new
models_dd2voz_hand
missing_merge.txt
