._.DS_Store
.DS_Store
.ipynb_checkpoints
dataset
3D_traindata
models_dd2voz
models_dd2voz_hand
model_TST_Deadlift
models_z
models_SHAP
models_3D
models_dd2voz_vision1_body
__pycache__
2D_traindata
2D_traindata_with_hand_new
2D_traindata_bodylength_vision1
missing_merge.txt
BPdata